<ion-header>
  <ion-toolbar>
    <ion-title style="font-family: cursive; font-weight: bolder;">Message</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <center>
<ion-card>
  <ion-card-content>

    <div class="wrap-contact100">
      <form class="contact100-form validate-form">
      <span class="contact100-form-title" style="color: aqua; font-family: cursive; font-weight: bolder;">
      Send A Message
      </span>
      <div class="wrap-input100 validate-input" data-validate="Please enter your name">
      <input class="input100" type="text" name="name" placeholder="Full Name" style="font-family: cursive; font-weight: bolder;">
      <span class="focus-input100"></span>
      </div>
      <div class="wrap-input100 validate-input" data-validate="Please enter your email: e@a.x">
      <input class="input100" type="text" name="email" placeholder="E-mail" style="font-family: cursive; font-weight: bolder;">
      <span class="focus-input100"></span>
      </div>
      <div class="wrap-input100 validate-input" data-validate="Please enter your phone">
      <input class="input100" type="text" name="phone" placeholder="Phone" style="font-family: cursive; font-weight: bolder;">
      <span class="focus-input100"></span>
      </div>
      <div class="wrap-input100 validate-input" data-validate="Please enter your message">
      <textarea class="input100" name="message" placeholder="Your Message" style="font-family: cursive; font-weight: bolder;"></textarea>
      <span class="focus-input100"></span>
      </div>
      <div class="container-contact100-form-btn">
      <button class="contact100-form-btn">
      <span style="font-family: cursive; font-weight: bolder;">
      <i class="fa fa-paper-plane-o m-r-6" aria-hidden="true"></i>
      Send
      </span>
      </button>
      </div>
      </form>
    </div>

  </ion-card-content>
</ion-card>
</center>
</ion-content>
